body{
    margin:0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
}
main{
    border: 1px solid black;
    width:80%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.block{
    width:95%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border:solid 1px black;
    border-radius: 10px;
    
}
.painting{
    border:1px black solid;
    height:600px;
    width:450px;
    flex-wrap: wrap;
    transform:scale(0.4);
}